TacitKnowledgeContentParser/xml-resources/web-service-references/MessageIngestService/wsdl/localhost_8080/TacitKnowledge-war/MessageIngestService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.tacitknowledge.fpmi.research.avasthi.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="MessageIngestService" targetNamespace="http://ws.tacitknowledge.fpmi.research.avasthi.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.tacitknowledge.fpmi.research.avasthi.com/" elementFormDefault="unqualified" targetNamespace="http://ws.tacitknowledge.fpmi.research.avasthi.com/" version="1.0">

  <xs:element name="ingestMessage" type="tns:ingestMessage"/>

  <xs:complexType name="ingestMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="senderName" type="xs:string"/>
      <xs:element minOccurs="0" name="senderEmail" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="subject" type="xs:string"/>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="contentType" type="xs:string"/>
      <xs:element name="bytes" type="xs:int"/>
      <xs:element name="lines" type="xs:int"/>
      <xs:element minOccurs="0" name="newsgroup" type="xs:string"/>
      <xs:element minOccurs="0" name="inReplyTo" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="references" type="xs:string"/>
      <xs:element minOccurs="0" name="body" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="ingestMessage">
    <wsdl:part element="tns:ingestMessage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MessageIngestService">
    <wsdl:operation name="ingestMessage">
      <wsdl:input message="tns:ingestMessage" name="ingestMessage">
    </wsdl:input>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MessageIngestServiceSoapBinding" type="tns:MessageIngestService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ingestMessage">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="ingestMessage">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MessageIngestService">
    <wsdl:port binding="tns:MessageIngestServiceSoapBinding" name="MessageIngestServicePort">
      <soap:address location="http://localhost:8080/TacitKnowledge-war/MessageIngestService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>