TacitKnowledgeContentParser/xml-resources/web-service-references/UsenetPostWebService/wsdl/localhost_8080/web/UsenetPostWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.contentparsers.tacitknowledge.fpmi.research.avasthi.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="UsenetPostWebService" targetNamespace="http://ws.contentparsers.tacitknowledge.fpmi.research.avasthi.com/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://ws.contentparsers.tacitknowledge.fpmi.research.avasthi.com/" elementFormDefault="unqualified" targetNamespace="http://ws.contentparsers.tacitknowledge.fpmi.research.avasthi.com/" version="1.0">

  <xs:element name="countUsenetPosts" type="tns:countUsenetPosts"/>

  <xs:element name="countUsenetPostsForTopic" type="tns:countUsenetPostsForTopic"/>

  <xs:element name="countUsenetPostsForTopicResponse" type="tns:countUsenetPostsForTopicResponse"/>

  <xs:element name="countUsenetPostsResponse" type="tns:countUsenetPostsResponse"/>

  <xs:element name="countUsenetPosts_1" type="tns:countUsenetPosts_1"/>

  <xs:element name="countUsenetPosts_1Response" type="tns:countUsenetPosts_1Response"/>

  <xs:element name="getInterestingPhrasesForNewsgroupForYear" type="tns:getInterestingPhrasesForNewsgroupForYear"/>

  <xs:element name="getInterestingPhrasesForNewsgroupForYearResponse" type="tns:getInterestingPhrasesForNewsgroupForYearResponse"/>

  <xs:element name="getMaxDate" type="tns:getMaxDate"/>

  <xs:element name="getMaxDateForUser" type="tns:getMaxDateForUser"/>

  <xs:element name="getMaxDateForUserResponse" type="tns:getMaxDateForUserResponse"/>

  <xs:element name="getMaxDateResponse" type="tns:getMaxDateResponse"/>

  <xs:element name="getMessageBody" type="tns:getMessageBody"/>

  <xs:element name="getMessageBodyResponse" type="tns:getMessageBodyResponse"/>

  <xs:element name="getMinDate" type="tns:getMinDate"/>

  <xs:element name="getMinDateForUser" type="tns:getMinDateForUser"/>

  <xs:element name="getMinDateForUserResponse" type="tns:getMinDateForUserResponse"/>

  <xs:element name="getMinDateResponse" type="tns:getMinDateResponse"/>

  <xs:element name="getMinMaxDates" type="tns:getMinMaxDates"/>

  <xs:element name="getMinMaxDatesResponse" type="tns:getMinMaxDatesResponse"/>

  <xs:element name="getNetworkEdges" type="tns:getNetworkEdges"/>

  <xs:element name="getNetworkEdgesResponse" type="tns:getNetworkEdgesResponse"/>

  <xs:element name="getNetworkNodes" type="tns:getNetworkNodes"/>

  <xs:element name="getNetworkNodesResponse" type="tns:getNetworkNodesResponse"/>

  <xs:element name="getPhrasePairProbability" type="tns:getPhrasePairProbability"/>

  <xs:element name="getPhrasePairProbabilityResponse" type="tns:getPhrasePairProbabilityResponse"/>

  <xs:element name="getPhrasePairProbability_1" type="tns:getPhrasePairProbability_1"/>

  <xs:element name="getPhrasePairProbability_1Response" type="tns:getPhrasePairProbability_1Response"/>

  <xs:element name="getPhrasePairProbability_2" type="tns:getPhrasePairProbability_2"/>

  <xs:element name="getPhrasePairProbability_2Response" type="tns:getPhrasePairProbability_2Response"/>

  <xs:element name="getPost" type="tns:getPost"/>

  <xs:element name="getPostResponse" type="tns:getPostResponse"/>

  <xs:element name="getRelevantTopics" type="tns:getRelevantTopics"/>

  <xs:element name="getRelevantTopicsResponse" type="tns:getRelevantTopicsResponse"/>

  <xs:element name="getTopPhrase" type="tns:getTopPhrase"/>

  <xs:element name="getTopPhraseIds" type="tns:getTopPhraseIds"/>

  <xs:element name="getTopPhraseIdsResponse" type="tns:getTopPhraseIdsResponse"/>

  <xs:element name="getTopPhraseResponse" type="tns:getTopPhraseResponse"/>

  <xs:element name="getTopics" type="tns:getTopics"/>

  <xs:element name="getTopicsResponse" type="tns:getTopicsResponse"/>

  <xs:element name="individual" type="tns:individual"/>

  <xs:element name="insertPhrases" type="tns:insertPhrases"/>

  <xs:element name="listIndividualIds" type="tns:listIndividualIds"/>

  <xs:element name="listIndividualIdsResponse" type="tns:listIndividualIdsResponse"/>

  <xs:element name="listMessageIds" type="tns:listMessageIds"/>

  <xs:element name="listMessageIdsResponse" type="tns:listMessageIdsResponse"/>

  <xs:element name="listUsenetPosts" type="tns:listUsenetPosts"/>

  <xs:element name="listUsenetPostsResponse" type="tns:listUsenetPostsResponse"/>

  <xs:element name="listUsenetPosts_1" type="tns:listUsenetPosts_1"/>

  <xs:element name="listUsenetPosts_1Response" type="tns:listUsenetPosts_1Response"/>

  <xs:element name="updateMessageId" type="tns:updateMessageId"/>

  <xs:element name="upgradeTable" type="tns:upgradeTable"/>

  <xs:element name="usenetPost" type="tns:usenetPost"/>

  <xs:complexType name="listUsenetPosts">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listUsenetPostsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:usenetPost"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="usenetPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="body" type="xs:string"/>
      <xs:element name="bytes" type="xs:int"/>
      <xs:element minOccurs="0" name="contentType" type="xs:string"/>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="inReplyTo" type="xs:string"/>
      <xs:element minOccurs="0" name="newsGroup" type="xs:string"/>
      <xs:element name="noLines" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="referencedPosts" nillable="true" type="tns:usenetPostReference"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="referencedTopics" nillable="true" type="tns:usenetTopic"/>
      <xs:element minOccurs="0" name="sender" type="tns:individual"/>
      <xs:element minOccurs="0" name="subject" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="usenetPostReference">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="referenceId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="usenetTopic">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="referenceId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="individual">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="insertPhrases">
    <xs:sequence>
      <xs:element name="userid" type="xs:long"/>
      <xs:element minOccurs="0" name="from" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="to" type="xs:dateTime"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ppsList" type="tns:usenetPostPhraseScore"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="usenetPostPhraseScore">
    <xs:sequence>
      <xs:element minOccurs="0" name="phrase" type="xs:string"/>
      <xs:element name="phraseLength" type="xs:int"/>
      <xs:element name="score" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTopPhraseIds">
    <xs:sequence>
      <xs:element minOccurs="0" name="topic" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTopPhraseIdsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tacitKnowledgePhraseCount"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tacitKnowledgePhraseCount">
    <xs:sequence>
      <xs:element minOccurs="0" name="count" type="xs:long"/>
      <xs:element minOccurs="0" name="phrase" type="xs:string"/>
      <xs:element minOccurs="0" name="phraseId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getNetworkNodes">
    <xs:sequence>
      <xs:element minOccurs="0" name="from" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="to" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="topic" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getNetworkNodesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:networkNode"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="networkNode">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTopics">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getTopicsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTopPhrase">
    <xs:sequence>
      <xs:element minOccurs="0" name="topic" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getTopPhraseResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPhrasePairProbability">
    <xs:sequence>
      <xs:element minOccurs="0" name="topic" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPhrasePairProbabilityResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tacitKnowledgePhrasePairProbability"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="tacitKnowledgePhrasePairProbability">
    <xs:sequence>
      <xs:element minOccurs="0" name="phrase1" type="xs:string"/>
      <xs:element minOccurs="0" name="phrase2" type="xs:string"/>
      <xs:element minOccurs="0" name="probability" type="xs:double"/>
      <xs:element minOccurs="0" name="topic" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMinDate">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getMinDateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMinMaxDates">
    <xs:sequence>
      <xs:element minOccurs="0" name="topic" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMinMaxDatesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:minMaxDatePair"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="minMaxDatePair">
    <xs:sequence>
      <xs:element minOccurs="0" name="maxDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="minDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listIndividualIds">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="listIndividualIdsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPost">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPostResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usenetPostHeaders"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="usenetPostHeaders">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="inReplyTo" type="xs:string"/>
      <xs:element minOccurs="0" name="newsgroup" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="references" nillable="true" type="xs:string"/>
      <xs:element minOccurs="0" name="senderId" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="topics" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMessageBody">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMessageBodyResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getInterestingPhrasesForNewsgroupForYear">
    <xs:sequence>
      <xs:element minOccurs="0" name="topic" type="xs:string"/>
      <xs:element name="year" type="xs:int"/>
      <xs:element name="month" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getInterestingPhrasesForNewsgroupForYearResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:interestingPhrase"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="interestingPhrase">
    <xs:sequence>
      <xs:element minOccurs="0" name="sentiment" type="xs:double"/>
      <xs:element minOccurs="0" name="word" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countUsenetPostsForTopic">
    <xs:sequence>
      <xs:element minOccurs="0" name="topic" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countUsenetPostsForTopicResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countUsenetPosts_1">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="countUsenetPosts_1Response">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRelevantTopics">
    <xs:sequence>
      <xs:element name="uid" type="xs:long"/>
      <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="dateTo" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getRelevantTopicsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countUsenetPosts">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="countUsenetPostsResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMaxDate">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getMaxDateResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getNetworkEdges">
    <xs:sequence>
      <xs:element minOccurs="0" name="src" type="xs:long"/>
      <xs:element minOccurs="0" name="tgt" type="xs:long"/>
      <xs:element minOccurs="0" name="from" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="to" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="topic" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getNetworkEdgesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:networkEdge"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="networkEdge">
    <xs:sequence>
      <xs:element minOccurs="0" name="count" type="xs:long"/>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="individualFrom" type="xs:long"/>
      <xs:element minOccurs="0" name="individualTo" type="xs:long"/>
      <xs:element minOccurs="0" name="topic" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPhrasePairProbability_2">
    <xs:sequence>
      <xs:element minOccurs="0" name="topicEncoded" type="xs:string"/>
      <xs:element minOccurs="0" name="phrase" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPhrasePairProbability_2Response">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tacitKnowledgePhrasePairProbability"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPhrasePairProbability_1">
    <xs:sequence>
      <xs:element minOccurs="0" name="topic" type="xs:string"/>
      <xs:element name="phraseId" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getPhrasePairProbability_1Response">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:tacitKnowledgePhrasePairProbability"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listMessageIds">
    <xs:sequence>
      <xs:element name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="from" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="to" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listMessageIdsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="listUsenetPosts_1">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="listUsenetPosts_1Response">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:usenetPost"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMinDateForUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="uid" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMinDateForUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="upgradeTable">
    <xs:sequence>
      <xs:element name="uid" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="updateMessageId">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getMaxDateForUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="uid" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getMaxDateForUserResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getMinDateResponse">
    <wsdl:part element="tns:getMinDateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTopPhrase">
    <wsdl:part element="tns:getTopPhrase" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPhrasePairProbability">
    <wsdl:part element="tns:getPhrasePairProbability" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countUsenetPosts_1Response">
    <wsdl:part element="tns:countUsenetPosts_1Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPhrasePairProbability_1Response">
    <wsdl:part element="tns:getPhrasePairProbability_1Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMinDateForUserResponse">
    <wsdl:part element="tns:getMinDateForUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPost">
    <wsdl:part element="tns:getPost" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMinMaxDatesResponse">
    <wsdl:part element="tns:getMinMaxDatesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPostResponse">
    <wsdl:part element="tns:getPostResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInterestingPhrasesForNewsgroupForYear">
    <wsdl:part element="tns:getInterestingPhrasesForNewsgroupForYear" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countUsenetPostsForTopic">
    <wsdl:part element="tns:countUsenetPostsForTopic" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRelevantTopics">
    <wsdl:part element="tns:getRelevantTopics" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMaxDateResponse">
    <wsdl:part element="tns:getMaxDateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNetworkNodesResponse">
    <wsdl:part element="tns:getNetworkNodesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPhrasePairProbability_2">
    <wsdl:part element="tns:getPhrasePairProbability_2" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPhrasePairProbability_1">
    <wsdl:part element="tns:getPhrasePairProbability_1" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listMessageIds">
    <wsdl:part element="tns:listMessageIds" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMaxDateForUserResponse">
    <wsdl:part element="tns:getMaxDateForUserResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPhrasePairProbabilityResponse">
    <wsdl:part element="tns:getPhrasePairProbabilityResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listUsenetPosts_1">
    <wsdl:part element="tns:listUsenetPosts_1" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMinDateForUser">
    <wsdl:part element="tns:getMinDateForUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="upgradeTable">
    <wsdl:part element="tns:upgradeTable" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateMessageId">
    <wsdl:part element="tns:updateMessageId" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMaxDateForUser">
    <wsdl:part element="tns:getMaxDateForUser" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listIndividualIdsResponse">
    <wsdl:part element="tns:listIndividualIdsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listUsenetPosts_1Response">
    <wsdl:part element="tns:listUsenetPosts_1Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMessageBodyResponse">
    <wsdl:part element="tns:getMessageBodyResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listUsenetPosts">
    <wsdl:part element="tns:listUsenetPosts" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertPhrases">
    <wsdl:part element="tns:insertPhrases" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTopPhraseIds">
    <wsdl:part element="tns:getTopPhraseIds" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listMessageIdsResponse">
    <wsdl:part element="tns:listMessageIdsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNetworkNodes">
    <wsdl:part element="tns:getNetworkNodes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTopics">
    <wsdl:part element="tns:getTopics" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getRelevantTopicsResponse">
    <wsdl:part element="tns:getRelevantTopicsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMinDate">
    <wsdl:part element="tns:getMinDate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listUsenetPostsResponse">
    <wsdl:part element="tns:listUsenetPostsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMinMaxDates">
    <wsdl:part element="tns:getMinMaxDates" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listIndividualIds">
    <wsdl:part element="tns:listIndividualIds" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTopicsResponse">
    <wsdl:part element="tns:getTopicsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTopPhraseResponse">
    <wsdl:part element="tns:getTopPhraseResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTopPhraseIdsResponse">
    <wsdl:part element="tns:getTopPhraseIdsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMessageBody">
    <wsdl:part element="tns:getMessageBody" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getInterestingPhrasesForNewsgroupForYearResponse">
    <wsdl:part element="tns:getInterestingPhrasesForNewsgroupForYearResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNetworkEdgesResponse">
    <wsdl:part element="tns:getNetworkEdgesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countUsenetPosts_1">
    <wsdl:part element="tns:countUsenetPosts_1" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPhrasePairProbability_2Response">
    <wsdl:part element="tns:getPhrasePairProbability_2Response" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countUsenetPosts">
    <wsdl:part element="tns:countUsenetPosts" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getMaxDate">
    <wsdl:part element="tns:getMaxDate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNetworkEdges">
    <wsdl:part element="tns:getNetworkEdges" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countUsenetPostsForTopicResponse">
    <wsdl:part element="tns:countUsenetPostsForTopicResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="countUsenetPostsResponse">
    <wsdl:part element="tns:countUsenetPostsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UsenetPostWebService">
    <wsdl:operation name="listUsenetPosts">
      <wsdl:input message="tns:listUsenetPosts" name="listUsenetPosts">
    </wsdl:input>
      <wsdl:output message="tns:listUsenetPostsResponse" name="listUsenetPostsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertPhrases">
      <wsdl:input message="tns:insertPhrases" name="insertPhrases">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getTopPhraseIds">
      <wsdl:input message="tns:getTopPhraseIds" name="getTopPhraseIds">
    </wsdl:input>
      <wsdl:output message="tns:getTopPhraseIdsResponse" name="getTopPhraseIdsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNetworkNodes">
      <wsdl:input message="tns:getNetworkNodes" name="getNetworkNodes">
    </wsdl:input>
      <wsdl:output message="tns:getNetworkNodesResponse" name="getNetworkNodesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopics">
      <wsdl:input message="tns:getTopics" name="getTopics">
    </wsdl:input>
      <wsdl:output message="tns:getTopicsResponse" name="getTopicsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopPhrase">
      <wsdl:input message="tns:getTopPhrase" name="getTopPhrase">
    </wsdl:input>
      <wsdl:output message="tns:getTopPhraseResponse" name="getTopPhraseResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhrasePairProbability">
      <wsdl:input message="tns:getPhrasePairProbability" name="getPhrasePairProbability">
    </wsdl:input>
      <wsdl:output message="tns:getPhrasePairProbabilityResponse" name="getPhrasePairProbabilityResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMinDate">
      <wsdl:input message="tns:getMinDate" name="getMinDate">
    </wsdl:input>
      <wsdl:output message="tns:getMinDateResponse" name="getMinDateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMinMaxDates">
      <wsdl:input message="tns:getMinMaxDates" name="getMinMaxDates">
    </wsdl:input>
      <wsdl:output message="tns:getMinMaxDatesResponse" name="getMinMaxDatesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listIndividualIds">
      <wsdl:input message="tns:listIndividualIds" name="listIndividualIds">
    </wsdl:input>
      <wsdl:output message="tns:listIndividualIdsResponse" name="listIndividualIdsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPost">
      <wsdl:input message="tns:getPost" name="getPost">
    </wsdl:input>
      <wsdl:output message="tns:getPostResponse" name="getPostResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessageBody">
      <wsdl:input message="tns:getMessageBody" name="getMessageBody">
    </wsdl:input>
      <wsdl:output message="tns:getMessageBodyResponse" name="getMessageBodyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInterestingPhrasesForNewsgroupForYear">
      <wsdl:input message="tns:getInterestingPhrasesForNewsgroupForYear" name="getInterestingPhrasesForNewsgroupForYear">
    </wsdl:input>
      <wsdl:output message="tns:getInterestingPhrasesForNewsgroupForYearResponse" name="getInterestingPhrasesForNewsgroupForYearResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countUsenetPostsForTopic">
      <wsdl:input message="tns:countUsenetPostsForTopic" name="countUsenetPostsForTopic">
    </wsdl:input>
      <wsdl:output message="tns:countUsenetPostsForTopicResponse" name="countUsenetPostsForTopicResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countUsenetPosts_1">
      <wsdl:input message="tns:countUsenetPosts_1" name="countUsenetPosts_1">
    </wsdl:input>
      <wsdl:output message="tns:countUsenetPosts_1Response" name="countUsenetPosts_1Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelevantTopics">
      <wsdl:input message="tns:getRelevantTopics" name="getRelevantTopics">
    </wsdl:input>
      <wsdl:output message="tns:getRelevantTopicsResponse" name="getRelevantTopicsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countUsenetPosts">
      <wsdl:input message="tns:countUsenetPosts" name="countUsenetPosts">
    </wsdl:input>
      <wsdl:output message="tns:countUsenetPostsResponse" name="countUsenetPostsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaxDate">
      <wsdl:input message="tns:getMaxDate" name="getMaxDate">
    </wsdl:input>
      <wsdl:output message="tns:getMaxDateResponse" name="getMaxDateResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNetworkEdges">
      <wsdl:input message="tns:getNetworkEdges" name="getNetworkEdges">
    </wsdl:input>
      <wsdl:output message="tns:getNetworkEdgesResponse" name="getNetworkEdgesResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhrasePairProbability_2">
      <wsdl:input message="tns:getPhrasePairProbability_2" name="getPhrasePairProbability_2">
    </wsdl:input>
      <wsdl:output message="tns:getPhrasePairProbability_2Response" name="getPhrasePairProbability_2Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhrasePairProbability_1">
      <wsdl:input message="tns:getPhrasePairProbability_1" name="getPhrasePairProbability_1">
    </wsdl:input>
      <wsdl:output message="tns:getPhrasePairProbability_1Response" name="getPhrasePairProbability_1Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listMessageIds">
      <wsdl:input message="tns:listMessageIds" name="listMessageIds">
    </wsdl:input>
      <wsdl:output message="tns:listMessageIdsResponse" name="listMessageIdsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listUsenetPosts_1">
      <wsdl:input message="tns:listUsenetPosts_1" name="listUsenetPosts_1">
    </wsdl:input>
      <wsdl:output message="tns:listUsenetPosts_1Response" name="listUsenetPosts_1Response">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMinDateForUser">
      <wsdl:input message="tns:getMinDateForUser" name="getMinDateForUser">
    </wsdl:input>
      <wsdl:output message="tns:getMinDateForUserResponse" name="getMinDateForUserResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upgradeTable">
      <wsdl:input message="tns:upgradeTable" name="upgradeTable">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateMessageId">
      <wsdl:input message="tns:updateMessageId" name="updateMessageId">
    </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getMaxDateForUser">
      <wsdl:input message="tns:getMaxDateForUser" name="getMaxDateForUser">
    </wsdl:input>
      <wsdl:output message="tns:getMaxDateForUserResponse" name="getMaxDateForUserResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UsenetPostWebServiceSoapBinding" type="tns:UsenetPostWebService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listUsenetPosts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listUsenetPosts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listUsenetPostsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertPhrases">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertPhrases">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getTopPhraseIds">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTopPhraseIds">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTopPhraseIdsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNetworkNodes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNetworkNodes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNetworkNodesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopics">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTopics">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTopicsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTopPhrase">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getTopPhrase">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getTopPhraseResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhrasePairProbability">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPhrasePairProbability">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPhrasePairProbabilityResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMinDate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMinDate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMinDateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMinMaxDates">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMinMaxDates">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMinMaxDatesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listIndividualIds">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listIndividualIds">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listIndividualIdsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPost">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPost">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPostResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMessageBody">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMessageBody">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMessageBodyResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInterestingPhrasesForNewsgroupForYear">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getInterestingPhrasesForNewsgroupForYear">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getInterestingPhrasesForNewsgroupForYearResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countUsenetPostsForTopic">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="countUsenetPostsForTopic">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="countUsenetPostsForTopicResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countUsenetPosts_1">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="countUsenetPosts_1">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="countUsenetPosts_1Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getRelevantTopics">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getRelevantTopics">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getRelevantTopicsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="countUsenetPosts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="countUsenetPosts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="countUsenetPostsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMaxDate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMaxDate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMaxDateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNetworkEdges">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getNetworkEdges">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getNetworkEdgesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhrasePairProbability_2">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPhrasePairProbability_2">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPhrasePairProbability_2Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPhrasePairProbability_1">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getPhrasePairProbability_1">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getPhrasePairProbability_1Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listMessageIds">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listMessageIds">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listMessageIdsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listUsenetPosts_1">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listUsenetPosts_1">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listUsenetPosts_1Response">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMinDateForUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMinDateForUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMinDateForUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="upgradeTable">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="upgradeTable">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="updateMessageId">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateMessageId">
        <soap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="getMaxDateForUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getMaxDateForUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getMaxDateForUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UsenetPostWebService">
    <wsdl:port binding="tns:UsenetPostWebServiceSoapBinding" name="UsenetPostWebServicePort">
      <soap:address location="http://localhost:8080/web/UsenetPostWebService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>